#chat-screen{
  background-color: #abc1d1;
  height: 100vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header{
  position: fixed;
  top:0;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;

}

.wating1_main{
  align-items: center;
}


#chat-screen .status-bar{
  z-index: 1;
}


#chat-screen .alt-header{
  top:20px;
  z-index:2;
}

.message-row{
  border: 10px solid red;
  border-left: 1000px;
  align-items: center;
}
.wating_img{
  text-align:center;
}

/* @keyframes fadeIn{
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.main-chat{
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;

  animation: fadeIn 3s linear;

  
} */