.recommended-friends{
  padding: 25px 0px;
  margin:25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title{
  font-size:18px;
  color: var(--gray);
}

.recommended-friends__text{
  margin:100px 0px;
  text-align:center;
  color: var(--gray);
  font-size: 18px;

}


.open-chat__header{
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 25px;


  

}

.open-post{
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.open-post__title{

  font-weight:600;
  margin-bottom: 10px;
  

}

.open-post__hashtags{
  color: var(--gray);
  margin-bottom: 10px;
  text-transform: uppercase;
  
}

.open-post__members{

  display: flex;
  align-items: center;
 
}

.open-post__members img{
  width:20px;
  height:20px;
  border-radius: 50%;
  margin-right:5px;
}

.open-post__members-count{
  color: var(--gray);
  font-size: 14px;
}

.open-post__members .divider{
 width:1px;
 height:15px;
 background-color: var(--gray);

 margin:0px 5px;
}

.open-post__members-status{
  color:#ffb0e0;
}

.open-post__photo > img{
  width:120px;
  height: 120px;
  border-radius: 10%;
}

.open-post__heart-count{
  background-color: rgba(0,0,0,0.4);
  color:white;
  padding:5px;
  border-radius: 20px;
  
  display: flex;
  align-items: center;

  position: absolute;
  bottom:10px;
  right:10px;

  font-size:12px;

}

.open-post__heart-count span{
  margin-left:3px;
}
.open-post__photo{
  position:relative;
}

/* heartBeat Animation */

@keyframes heartBeat{
  0%{
    color: white;
  }
  50%{
    color:tomato;
    transform: scale(1.3);
  } 
  100%{
    color: white;
  }
}

.open-post__heart-count:hover{
  /* 부자연스러운 에니메이션을 자연스럽게 만들어주는 사전 통보 */
  will-change: transform; 
  animation: heartBeat 1s linear infinite;
}