#no-mobile{
  display: none;
}

@media screen and (min-width:645px){

  #no-mobile{
  background-color: var(--yellow);

  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size:40px;
}
}

