.user-component{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.user-component__column:first-child{
  display: flex;
  align-items: center;
  
}

.user-component__avatar{
  width:70px;
  height:70px;
  border-radius: 35%;
  margin-right:20px;
}

.user-component__avatar--xl{
  width:80px;
  height:80px;
}

.user-component__avatar--sm{
  width:60px;
  height:60px;
}

.user-component__title{
  font-size:20px;
  font-weight: 600;
}


.user-component__title--not-bold{
  font-weight: 400;
}

.user-component__column:last-child{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
  
}


/* chats.html 추가용  */

.user-component__subtitle{
  margin-top:5px;
}

.user-component__time{
  margin-bottom: 5px;
  display: block;

}